<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tweets</title>
  </head>
  <body>
    <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
              </a>
    <h1><a href="{% url 'new_tweet' %}">tweets</a></h1>
    

    <table border="1">
      <thead>
        <tr>
          <th>title</th>
          <th>Post</th>
          <th>user name</th>
          <th>follow</th>
        </tr>
      </thead>
      <tbody>
        {% for tweet in tweets %}
          <tr>
            <td>
              {{ tweet.name }}<br>
              
            </td>
            <td>{{ tweet.text}}</td>
            <td>{{ tweet.user}}</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>